:root {
  --denim: #155FC6;
  --salmon: #F28A75;
  --crystal: #6D8EBF;
  --white: #FFFFFF;
  --pear: #edb458;
  --cream: #f9ecd8;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--denim);
}
/* -------HEADER STYLING------- */
/*  */

header {
  width: 100%;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 35px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem; 
  background-color: var(--pear);
  color: var(--denim);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding-right: 20px;
  font-family: 'Fredoka', sans-serif;
}

nav ul a{
  color: var(--denim);
  text-decoration: none;
  font-size: 18px;
  justify-content: space-between;
}
/*  
*/
/* ------END HEADER STYLING----- */


/* -------MAIN STYLING------- */
/* 
*/
main {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  height: 80vh;
}
/* 
*/
/* ------END MAIN STYLING----- */


/* -------FOOTER STYLING------- */
/* 
*/
footer {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--pear);
  color: var(--denim);
  font-size: 14px;
}

footer a{
  color: var(--denim);
  text-decoration: none;
  font-size: 14px;
  justify-content: space-between;
}
/*  
*/
/* ------END FOOTER STYLING----- */


/* ----HOME PAGE STYLING */
/* 
/* logged out */

.home-container{
  margin-left: 1.5rem;
}

#homePageHeader h1{
  color: var(--pear);
  font-size: 45px;
  width: 20%;
}

#home-description{
  color: var(--cream);
  display: flex;
  margin: 0;
  width: 31%;
  direction: initial;
  line-height: 1.5; 
  font-size: 15px;
  font-family: 'Unbounded', sans-serif;
}

#home-auth-loggedout-btns{
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 1rem;
}

#home-login-btn,
#home-signup-btn,
#login-submit {
  background-color: var(--pear);
  color: var(--white);
  border: 5px solid #ea9e11;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
}

#hp-truck-logo{
  width: 18rem;
  height: 18rem;
  background-image: url("../public/food-truck.png");
  background-size: 100%;
  position: absolute;
  left: 65%;
  bottom: 35%;
  z-index: -1;
}



.food-truck-search-container {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }


  /* login + signup styling */


#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  
}

#login-drink{
  margin-top: 5rem;
  margin-left: 2%;
  background-image: url("../public/cold-drink.png");
  background-size: 100%;
  width: 10rem;
  height: 10rem;
  rotate: -15deg;
}

#login-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

#email-input,
#password-input {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
}
.input-icons i {
  position: absolute;
  margin-left: 6.5%;
}

.input-icons, .input-icons-signup {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 11px;
  margin: 0;
  color: #ea9e11;
  width: 319px;
}
input {
  width: 70%;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  background-color: var(--white);
  border: 3px solid var(--white);
  border-radius: 10px;
  font-family: 'Unbounded', sans-serif;
}

input::placeholder {
  color: var(--denim);
  font-family: 'Unbounded', sans-serif;
}

/* Sign up styling */
#signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
#signup-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  
}

#sgnup-btn {
  margin-top: 5%;
  /* margin-bottom: 5%; */
}

.signupbtn {
  background-color: var(--pear);
  color: var(--white);
  border: 5px solid #ea9e11;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
}
#signup-img {
  background-color: var(--denim);
  
}
#signup-drink{
  background-image: url("../public/cold-drink.png");
  margin-left: 7%;
  margin-bottom: 7%;
  background-size: 100%;
  width: 15rem;
  height: 15rem;
  rotate: -15deg;
  border: 1px var(--denim) !important;
}

/* end of signup */

/* ---dashboard styling---- */

#fav-trucks,
#review-container {
  background-color: var(--cream);
  width: 20%;
  height: auto;
  border: 5px solid var(--pear);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.5%;
  margin: 2%;
  margin-left: 2%;
}

#fav-trucks h3,
#review-container h3 {
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  color: var(--crystal);
  display: flex;
  justify-content: center;
}

#fav-trucks ul,
#review-container ul {
  width: fit-content;
  color: var(--crystal);
}